body, html {
  margin: 0;
  padding: 0;
}

article {
  padding: 50px;
}

header {
  background-color: #e7dbdb;
  padding: 25px;
  box-sizing: border-box;
}

.square {
  width: 75px;
  height: 75px;
  background-color: #438de2;
}

.stripe {
  height: 25vh;
}

.stripe-1 {
  background-color: #559bec;
}

.stripe-2 {
  background-color: #4aeeca;
}

.stripe-3 {
  background-color: #b5e782;
}

.stripe-4 {
  background-color: #fdec33;
}

.question-container {
  position: fixed;
  right: 10px;
  bottom: 10px;
}

.question-container button {
  height: 60px;
  width: 60px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 50%;
  font-size: 30px;
}

